* {
  border: 1px;
}

.content-container {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  text-align: center;
}

.items-container {
  border: solid 3px black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 10px;
  min-width: 70%;
  text-align: center;
}

.categories-container {
  border: solid 3px black;
  border-radius: 6px;
  display: flex;
  height: 100%;
  margin: 10px;
  min-width: 20%;
}

.nav-page {
  position: absolute;
  top: 15px;
  height: 71px;
  width: 100%;
  z-index: 0;
}

.cart-icon {
  bottom: 41px;
  float: left;
  left: 71.3%;
  position: relative;
  width: 40px;
}
