.App {
  text-align: center;
  min-width: 170px;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: flex-start;
}

.logo {
  max-height: 10vh;
}

.category-list {
  list-style: none;
}
